/* =============== General =============== */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* body,
html {
    font-family: sans-serif;
    font-size: 15px;
    width: 100%;
    min-height: 100vh;
} */

/*
.backgroundImage {
    background-image: url("./images/hardware.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    opacity: 1.2; 
    
}
*/

/* .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
} */

.formItems {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#regPolicy {
    margin: 20px 0 20px 10px;
}

.rightButtons {
    display: flex;
    justify-content: center;
    margin: 20px 10px;
}

#tornePriButtons {
    display: flex;

    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    align-content: center;
}

#rightButtons {
    display: flexbox;
    flex-direction: column;
    justify-content: space-around;

}

.identification {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#torne {
    font-size: large;
}



button {
    cursor: pointer;
    flex: 1 0 50%;
    padding: 6px;
    background-color: #5cc0f0;
    color: white;
    border: none;
    border-radius: 4px;
}

.iconR1 {
    width: 20px;
}

.iconL1 {
    width: 20px;
}