/* =============== General =============== */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    width: 100%;
    min-height: 100vh;
    background-image: url("./images/hardware.jpg");  /* added 5 lines(moved from background image to here */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/*
.backgroundImage {
    background-image: url("./images/hardware.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    opacity: 1.2; 
    
}
*/

 .container {
   /* width: 100%;*/
     height: 100vh; 
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
} 

div#registration {                      /* Added to form background opacity */
    border: 2px solid black;
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
  }

  #title {
    display: inline-flex;
  }
  .fa-pencil {
    margin-right: 10px;
    align-self: center;
  }

  #title h2 {
    font-weight: 400;
  }

.formItems {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#regPolicy {
    margin: 20px 0 20px 10px;
}

#regPolicy a{
   
    
}

.rightButtons {
    /* display: flex;
    justify-content: center; */
    width: 100%;
    margin: 10px 0px;
    cursor: pointer;
    padding: 8px;
    background-color: #5cc0f0;
    color: white;
    border: none;
    border-radius: 4px;
    
}

#torne {
    font-size: large;
}

.fa-table-tennis-paddle-ball {
    font-size: xxx-large;
}

.identification {
    display: flex;
    /* flex-wrap: wrap; 
    align-content: center; */
    flex-direction: column;
    align-self: center;
}

.torneItems { 
    display: flex;
    justify-content: space-evenly;
}

.leftButtons {
    
    cursor: pointer;
    margin: 20px 10px;
    cursor: pointer;
    padding: 8px 30px;
    background-color: #48afdf;
    color: white;
    border: none;
    border-radius: 4px;
}

.asterisk {
    color: red;
}


