/* =============== General =============== */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}


*::before, *::after {
  box-sizing: border-box;
}

body,
html {
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("./images/hardware.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container {
    /* width: 100%;*/
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

div#registration {
    display: flex;
    flex-direction: column;
    margin: 0px 30px 20px 30px;
    border: 2px solid black;
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

#title {
    display: inline-flex;
}

.fa-pencil {
    margin-right: 10px;
    align-self: center;
}

#title h2 {
    font-weight: 400;
}

.formItems {
    display: flex;
    /* justify-content: space-between;                  Review later with flex(end) or not  */
    margin: 10px;
}

label {
    width: 170px;
}
#divSelect {
    /* position: relative; */
    /* display: inline-block;
    width: 150px; */
    /* height: 30px;  */
    /* border-radius: 4px; */
    overflow: hidden;
    cursor: pointer;
}

select {
    /* width: 150px; */
    /* width: auto; */
    
    /* position: absolute;
    top: -2px;
    right: 10px;
    width: 200px;
    background: red; */
    /* display: inline-flex; */
    width: 150px;
}

option {
    background-color:rgba(0, 0, 0, 0.7);
}

.registValues {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
}

#regPolicy {
    margin: 10px 10px 10px 10px;
}

#regPolicy a {
    color: #48afdf;
}

.rightButtons {
    /* display: flex;
    justify-content: center; */
    width: 100%;
    margin: 10px 0px;
    cursor: pointer;
    padding: 8px;
    background-color: #48afdf;
    color: white;
    border: none;
    border-radius: 4px;

}
.rightButtons:hover {
    background-color: #48dadf;
    color: white;
    border: none;
    border-radius: 4px;
}

#torne {
    font-size: large;
}

/* ==== Left icon: tenis paddle ball ==== */

.fa-table-tennis-paddle-ball {
    font-size: xxx-large;
}

.identification {
    display: flex;
    /* flex-wrap: wrap; 
    align-content: center; */
    flex-direction: column;
    align-self: center;
}

.torneItems {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px;
}

.leftButtons {
    cursor: pointer;
    margin: 20px 10px;
    cursor: pointer;
    padding: 8px 30px;
    background-color: #48afdf;
    color: white;
    border: none;
    border-radius: 4px;
}

.leftButtons:hover {
    background-color: #48dadf;
    color: white;
    border: none;
    border-radius: 4px;
}

.asterisk {
    color: red;
}

#agreeStyle {
    color: #48afdf;
}

.cross {
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 10px;
    display: none;
}

#msgUserError {
    display: flexbox;
    flex-wrap: wrap;
    width: 356px;
    /* box-sizing: border-box; */
    border: 2px solid white;
    color: red;
    margin: 20px 0px;
    font-size: 16px;
    padding: 20px;
    display: none;
}

#messagValidation {
    display: flexbox;
    flex-wrap: wrap;
    width: 356px;
    /* box-sizing: border-box; */
    border: 2px solid white;
    color:lawngreen;
    margin: 20px 0px;
    font-size: 16px;
    padding: 20px;
    display: none;
}

@media (min-width:568px) and (max-width:767px) {
    label {
        display: none;
    }
div#registration {
    margin: 0px 30px 20px 30px;
}    

.torneItems {
    margin: 10px;
}

.leftButtons {
    margin: 0px 10px;
}

.container {
    /* width: 100%; */
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    flex-direction: column;
    justify-content: center;
    /* align-content: center; */
}

div#registration {
    /* margin-left: 5px; */
    margin: 0px;
    width: min-content;
}

.identification {
    display: flex;
    flex-direction: column;
    align-self: center;
    /* width: 25%; */
}










}








